$color-primary: #087b91;
$color-primary-light: #15a6c2;
$color-primary-dark: #086070;

$color-black: #000;
$color-black-light: #a9b7b9;
$color-black-dark: #353a3a;

$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
